* {
    margin: 0;
    padding: 0;
  }
  header {
    width: 100vw;
    background-color: #171a21;
    height: 100px;
  }
  .container {
    width: 1024px;
    height: 100%;
    margin: 0 auto;
  }
  img {
    padding: 10px;
    height: 80%;
    float: left;
  }
  ul {
    list-style: none;
    display: inline-block;
    margin: 32px 100px;
  }
  li {
    display:inline-block;
  }
  a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
    font-size: 2rem;
    font-weight: 400;
  }
  a:hover {
      text-decoration: underline solid white 2px;
      font-weight: 600;
  }
  .sublist{
      display: none;
  }
  
  li:hover .sublist{
      display: block;
      position: absolute;
  }
  .content{
    width: 1024px;
    height: 100%;
    margin: 0 auto;
    padding: 10px;
  }
  .element{
     width: 200px;
     height: 180px;
  }

  } 
   .element img { 
     float: left;
     height: 100%;
     padding: 0%;
     margin: 0%;
      
   }
  .game{
   padding: 10px;
  }
  .name{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
  }
  .anootation{
  margin-top: 15px;

  }
  .element :hover{
  background-color: red;
  }